/* ProductItem.css */

.ProductItem-Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #fff;
}

.ProductItem-Container img {
  width: 280px;
  height: 300px;
  object-fit: cover;
}

.ProductName {
  font-weight: 400;
  margin-top: 6px;
  color: rgb(94, 94, 100);
}

.ProductPrice {
  color: black;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
