.Cart-Container {
  width: 100%;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
  display: flex;
}

.Shopping-Cart {
  width: 65%;
  border-top: 1px solid #d3d3d3;
  padding-top: 40px;
}

.Cart-Total {
  width: 35%;
  border-top: 1px solid #d3d3d3;
  padding-top: 40px;
}

.Shopping-Cart h2,
.Cart-Total h2 {
  font-size: 24px;
  font-weight: 500;
}

.Shopping-Cart {
  border-right: 1px solid #d3d3d3;
  display: flex;
  padding-right: 30px;
  overflow-y: scroll;
  flex-direction: column;
  /* gap: 15px; */
}

.Cart-Product-Details {
  margin-top: 15px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 0;
}

.Cart-Product-List {
  width: 95%;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}

.Cart-Product-List-Wrapper {
  overflow-y: scroll;
}

.Cart-Product-List button {
  border: none;
  outline: none;
  background: transparent;
}

.Wrapper-For-Image {
  display: flex;
  gap: 40px;
  align-items: center;
}

.Cart-Product-List .Wrapper-For-Image img {
  width: 100px;
  height: 100%;
}

.Wrapper-For-Image .Cross-button img {
  width: 15px;
  cursor: pointer;
}

.Quantity-Container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centering horizontally */
  gap: 10px;
  text-align: center; /* Center text inside the container */
  height: 180px;
}

.Quantity-Container p {
  padding: 5px 16px;
  border: 1px solid #7a7a7a99;
}

.Quantity-Container button {
  font-size: 15px;
  cursor: pointer;
}

.price-for-gray {
  color: gray;
}

.Cart-Total {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Cart-Total-Detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 0;
}

.Cart-Total-Shipping-Other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.Cart-Total-Shipping div:nth-child(2) {
  border-bottom: 1px solid #d3d3d3;
}

.Cart-Total-Total {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.Check-Out-Button {
  border: none;
  outline: none;
  background-color: #0e0e0f;
  color: white;
  margin-top: 30px;
  padding: 12px 0;
  font-size: 15px;
}

.Cart-Product-List .Product-Name {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* flex: 1; */
}

/* .Cart-Product-List .Wrapper-For-Image,
.Cart-Product-List .Product-Quantity,
.Cart-Product-List .Product-Price,
.Cart-Product-List .Product-Total {
  flex: 1;
  background: pink;
} */

/* .Cart-Product-Details p {
  flex: 1;
} */

.No-Product-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.No-Product-Container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.No-Product-Container p {
  font-size: 25px;
}

.button-38 {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249, 250, 251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.Cart-Container {
  width: 100%;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
  display: flex;
}

.Shopping-Cart {
  width: 65%;
  border-top: 1px solid #d3d3d3;
  padding-top: 40px;
}

.Cart-Total {
  width: 35%;
  border-top: 1px solid #d3d3d3;
  padding-top: 40px;
}

.Shopping-Cart h2,
.Cart-Total h2 {
  font-size: 24px;
  font-weight: 500;
}

.Cart-Product-Table {
  width: 100%;
  border-collapse: collapse;
}

.Cart-Product-Table th,
.Cart-Product-Table td {
  /* border: 1px solid #d3d3d3; */
  padding: 10px;
  text-align: center;
}

.Cart-Product-Table th {
  /* background-color: #f8f8f8; */
  font-weight: 400;
}

.Cart-Product-Table .Product-Image {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.Quantity-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Quantity-Container p {
  padding: 5px 16px;
  border: 1px solid #7a7a7a99;
}

.Quantity-Container button {
  font-size: 15px;
  cursor: pointer;
}

.Cross-button {
  background: none;
  outline: none;
  border: none;
}

.Cross-button img {
  width: 15px;
  cursor: pointer;
}

.Cart-Product-Table {
  margin-top: 30px;
}

.Quantity-Button {
  background: transparent;
  border: 1px solid gray;
  padding: 3px 6px;
}
