/* ProductItem.css */

.ProductItem-Container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #fff;
}

.Image-Container {
  width: auto;
  height: auto;
  background: pink;
}

.ProductItem-Container img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  /* background: #f1f2f4; */
}

.ProductName {
  font-weight: 400;
  margin-top: 6px;
  color: rgb(94, 94, 100);
}

.ProductPrice {
  color: black;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
