/* ProductItem.css */

.ProductItem-Container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /* background: pink; */
}

.Image-Container {
  width: 250px;
  height: 250px;
  background: pink;
  background-color: #f1f2f4;
  position: relative;
}

.ProductItem-Container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* aspect-ratio: 1/1; */
  /* background: #f1f2f4; */
}

.ProductName {
  font-weight: 400;
  margin-top: 6px;
  color: rgb(94, 94, 100);
}

.ProductPrice {
  color: black;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.NewTag {
  position: absolute;
  background: #ffaa65;
  color: white;
  padding: 0px 10px;
  left: 0;
  top: 30px;
  font-size: 14px !important;
  font-weight: 300;
}

.Discounted {
  position: absolute;
  background: lightgreen;
  color: rgb(255, 255, 255);
  padding: 0px 10px;
  left: 0;
  top: 55px;
  font-size: 14px !important;
  font-weight: 300;
}
