.Auth-Container {
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-Wrapper {
  width: 450px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Auth-Wrapper h1 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #111827;
}

.Auth-Wrapper .p {
  margin-bottom: 1rem;
  color: #6b7280;
}

.Auth-Wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Form-Section {
  display: flex;
  flex-direction: column;
}

.Form-Section input {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

.Form-Section label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #111827;
}

.Form-Section-accountType {
  display: flex;
  gap: 10px;
}

.accountType-selection {
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  padding: 10px 0;
}

.accountType-selection input {
  display: none;
}

.accountType-selection.selected {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
}

.Auth-Submit-Button {
  background-color: #3b82f6;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: medium;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.Auth-Submit-Button:hover {
  background-color: #2563eb;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: #6b7280;
}

.link {
  color: #3b82f6;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.error {
  position: absolute;
  color: white;
  padding: 5px 20px;
  background-color: tomato;
  top: 70px;
  right: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
