.Navbar {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  transition: 0.7s ease;
}

.Navbar:hover {
  background-color: white;
}

.Navbar.scrolled {
  background-color: white;
}

.Navbar-Menu,
.Navbar-More-Menu,
.logo {
  flex: 1;
}

.logo {
  text-align: center;
}

.Navbar-More-Menu {
  justify-content: flex-end;
}

.Navbar .logo p {
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.Navbar-Menu {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #626262;
  font-weight: 500;
  list-style: none;
}

.Navbar-Menu li {
  cursor: pointer;
}

.Navbar-Menu li:hover {
  color: var(--Hover-color);
}

.Navbar-More-Menu {
  display: flex;
  gap: 30px;
  position: relative;
}

.Navbar-More-Menu .cart-container img,
.Navbar-More-Menu img {
  width: 20px;
  cursor: pointer;
}

.cart-container {
  position: relative;
}

.Navbar-Cart-Count {
  position: absolute;
  right: 38px;
  top: -10px;
  width: 19px;
  height: 19px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 11px;
  font-size: 14px;
  color: white;
  background-color: red;
}

.user-icon-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  right: 0px;
}

.dropdown-menu p:nth-child(1) {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.profile-Button-Navbar,
.logout-Button-Navbar {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
}

.profile-Button-Navbar img,
.logout-Button-Navbar img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.profile-Button-Navbar:hover,
.logout-Button-Navbar:hover {
  background: rgb(223, 223, 223);
}
