.Footer-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top: 1px solid rgb(241, 242, 244);
  padding: 20px 30px;
  align-items: center;
  /* background: pink; */
  gap: 100px;
}

.Footer-Top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.Footer-Top form {
  display: flex;
  width: 800px;
  transition: border-bottom 0.4s ease-in-out;
}

.Footer-Top form input {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid rgb(211, 203, 203);
  transition: border-bottom 0.2s ease-in-out;
}

.Footer-Top form input:focus {
  border: 0px;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
}

.Footer-Top form button {
  background: transparent;
  border: none;
  padding: 0 30px;
  border-bottom: 2px solid rgb(211, 203, 203);
  margin-left: 10px;
  transition: border-bottom 0.2s ease-in-out;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.Footer-Top form input:hover,
.Footer-Top form button:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.Footer-Top-P {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.Footer-Top .Footer-Top-P p:nth-child(1) {
  font-size: 25px;
  font-weight: 400;
}

.Footer-Top .Footer-Top-P p:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

.Footer-Bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Footer-Social {
  display: flex;
  gap: 30px;
}

.Footer-Social a:hover {
  color: var(--Hover-color);
}
