.SellerOrders-Container {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.SellerOrders-Container h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.OrdersTable {
  width: 100%;
  border-collapse: collapse;
}

.OrdersTable th,
.OrdersTable td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.OrdersTable th {
  font-weight: bold;
}

.OrdersTable td {
  vertical-align: middle;
}

.OrderID {
  color: #888;
  font-size: 12px;
}

.PaymentStatus.Completed {
  color: #000000;
  background-color: #d0f6e4;
  padding: 5px 10px;
  border-radius: 5px;
}

.PaymentStatus.UnCompleted {
  color: #000000;
  background-color: #fee2e2;
  padding: 5px 10px;
  border-radius: 5px;
}

.OrderStatus.Processing {
  color: #000000;
  background-color: #f9dfbe;
  padding: 5px 10px;
  border-radius: 5px;
}

.OrderStatus.Shipping {
  color: #000000;
  background-color: #cce0fa;
  padding: 5px 10px;
  border-radius: 5px;
}

.OrderStatus.Delivered {
  color: #000000;
  background-color: #c8ffe5;
  padding: 5px 10px;
  border-radius: 5px;
}

.OrderStatus.Cancelled {
  color: #000000;
  background-color: #fdbcbc;
  padding: 5px 10px;
  border-radius: 5px;
}

.ProductDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

.ProductName {
  color: black;
}

.select-button {
  border: none;
  outline: none;
  width: 150px;
  font-size: 17px;
  font-weight: 400;
}
