.Product-Container {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 60px 20px;
}

.Product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.Product-Filter-Options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #7c7c80;
}

.Product-Options {
  display: flex;
  gap: 20px;
}

.Product-Options button {
  color: gray;
}

.Product-Options .active {
  border-bottom: 2px solid #000000;
  color: #000000;
}

.Product-Filter-Options button:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.NO-PRODUCT-FOUND {
  text-align: center;
  margin: 200px 0px;
}

.Button_Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Load-More-Button {
  margin-left: auto;
  margin-right: auto;
  border: none !important;
  width: 200px;
  outline: none !important;
  background-color: #0e0e0f !important;
  color: white !important;
  margin-top: 80px !important;
  padding: 12px 0px !important;
  font-size: 14px !important;
  border-radius: 0px !important;
}
