.Product-Container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.Product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
}

.Product-Filter-Options {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 120px;
}

.Product-Filter-Options button:nth-child(1) {
  border-bottom: 2px solid #23232c;
  color: #23232c;
}

.Product-Filter-Options button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px 0;
  background-color: transparent;
  font-size: 16px;
  color: #7c7c80;
}

.Product-Filter-Options button:hover {
  border-bottom: 2px solid tomato;
  color: tomato;
}

.Product-Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Pagination button.active {
  background-color: #000;
  color: #fff;
}

.Pagination {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Pagination button {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
}
