.SellerSidebar-Container {
  width: 250px;
  height: 100vh;
  background-color: #efeff1;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SellerSidebar-Container p {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SellerSidebar-Top,
.Sidebar-Wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.SellerSidebar-Dashboard,
.SellerSidebar-Product,
.SellerSidebar-Profile,
.SellerSidebar-CreateProduct,
.SellerSidebar-Logout {
  display: flex;
  gap: 20px;
  padding: 14px 20px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SellerSidebar-Dashboard img,
.SellerSidebar-Product img,
.SellerSidebar-Profile img,
.SellerSidebar-CreateProduct img,
.SellerSidebar-Logout img {
  width: 30px;
}

.SellerSidebar-Dashboard:hover,
.SellerSidebar-Product:hover,
.SellerSidebar-Profile:hover,
.SellerSidebar-Logout:hover,
.SellerSidebar-CreateProduct:hover {
  background-color: #f0f0f0;
  background-color: #dedde2;
}
